
.score-bar {
  position: sticky;
  // overflow: hidden;
  background-color: #333;
  top: 0px;
  width: 100%;
  height: fit-content;
  // padding: 10px;
  float: left;
}

.score-bar-column {
  float: left;
  width: 25%;
}

.score-bar-content {
  width: 95%;
  padding: 10px;
  h1, h2, h3, h4, h5 {
    color: white;
  }
  
  float: center;
  text-align: center;
}


.challenge-scoring {
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  // border: solid;
  // border-color: red;
}

.challenges-container {
  width: 90%;
  margin: 0 auto;
}

.challenge-buttons button {
  padding: 0.5vw;
  width: 100%;
  height: 4vh;
  font-size: 1vh;
}