
.score-bar {
  position: sticky;
  // overflow: hidden;
  background-color: #333;
  top: 0px;
  width: 100%;
  height: fit-content;
  // padding: 10px;
  float: left;
}

.score-bar-column {
  float: left;
  width: 25%;
}

.score-bar-content {
  width: 95%;
  padding: 10px;
  h1, h2, h3, h4, h5 {
    color: white;
  }
  
  float: center;
  text-align: center;
}


.challenge-scoring {
  
}