
.scoring-app {
  background: rgba( 71, 147, 227, 1);
  height: 100%;
  overflow: hidden;
  // border-style: dashed;
  // border-color: red;
}

.scoring-app .manual {
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  background: rgba( 71, 147, 227, 1);
  text-align: center;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: black;
}

.scoring-app .manual label {
  color: white;
}

.buttons  {
  padding: 0.5vh;
  width: 100%;
}

.buttons button {
  padding: 0.5vh;
  width: 50vw;
  height: 4vh;
  font-size: 1vh;
}

.submitButton {
  margin-top: 5vh;
  padding: 0.5vh;
  width: 100%;
}

.submitButton button {
  width: 50vw;
  height: 4vh;
  font-size: 1vh;
}