.Setup {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  background: rgba( 71, 147, 227, 1);
  text-align: center;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Setup label {
  font-size: 2vh;
  color: white;
}

.Setup form {
  text-align: center;
  vertical-align: middle;
  color: black;
  width: 50%;
}