@keyframes blink {  
	0% { opacity: 1; }
	100% { opacity: 0.1; }
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	100% { opacity: 0.1; }
}

.clock {
	user-select: none;
	font-size: 60vh;
	font-family: lcdbold, monospace;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	align-items: center;

	color: white;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.timer_controls {
	margin: 0;
	display: flex;
	position: absolute;
	bottom: 5%;
	left: 50%;
	justify-content: center;
	vertical-align: middle;
	align-items: center;

	transform: translate(-50%, -50%);
}

.timer_controls button {
	width: 45vw;
	height: 10vh;
	border-radius: 10px;
	font-size: 5vh;
}

.ended{
	color: red;
}

.armed {
	color: yellow;
}

.prerunning {
	color: orange;
}

.running {
	color: lime;
}