@import url('../fonts/lcd-bold/index.css');
@import url('../fonts/radioland/index.css');

.clock {
  font-family: lcdbold, monospace;
  user-select: none;
  text-align: center;
}

@media screen and (orientation:portrait) {
  .clock {
    font-size: 7vw;
  }
}

@media screen and (orientation:landscape) {
  .clock {
    font-size: 8vh;
  }
}

// .armed {
//   color: yellow;
// }

// .prerunning {
//   color: orange;
// }

// .running {
//   color: green;
// }

// .endgame {
//   color: yellow;
// }

.ended {
  color: red;
}