.info-footer-wrapper {
  margin-left: 4%;
  margin-RIGHT: 4%;
}

.info-footer {
  position: absolute;
  z-index: 2;
  width: 92%;
  height: 20%;
  bottom: 0;

  // border-color: red;
  // border-style: solid;
  background-color: white;

  border-left: none;
  border-right: none;
}

.event-info {
  height: 25%;
  width: 100%;
  border-top-color: black;
  border-top-style: solid;
}

.event-info-name {
  float: left;
  width: 60%;
  font-size: 4vh;
  height: 100%;

  background-color: #4FC3A1;
  color: white;

  border-bottom-color: black;
  border-bottom-style: solid;

  text-align: center;
}

.event-info-match {
  float: left;
  width: 40%;
  font-size: 4vh;
  height: 100%;

  color: white;
  background-color: #324960;

  border-bottom-color: black;
  border-bottom-style: solid;

  text-align: center;
}

.match-info {
  margin-top: 0px;
  height: 100%;
  width: 100%;
}

.match-info-on-table {
  float: left;
  width: 40%;
  height: 100%;
  background-color: #e0e0e0;

  text-align: center;
  // padding-top: 3%;
}

.on-table-span {
  padding: 1vh;
  font-size: 3vh;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.on-table-team-span {
  padding: 1vh;
  font-size: 3vh;
  font-weight: bold;
}

.match-info-timer {
  float: left;
  width: 20%;
  height: 100%;
  background-color: white;
  padding-top: 4vh;
}