*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html {
	overflow: hidden;
}

body{
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
	background: rgba( 71, 147, 227, 1);
}
h2{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
	margin: 10px 70px 70px;
	box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fll-table {
	overflow: auto;
}

thead th {
	position: sticky; top: 0; z-index: 1;
}

table {
	border-radius: 5px;
	font-size: 2.5vw;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	max-height: 1vh;
	white-space: nowrap;
	background-color: lightgrey;
}

table td, table th {
	text-align: center;
	padding: 8px;
}

table td {
	border-right: 1px solid #f8f8f8;
	font-size: 2vw;
}

table thead th {
	color: #ffffff;
	background: #4FC3A1;
}


table thead th:nth-child(odd) {
	color: #ffffff;
	background: #324960;
}

table tr:nth-child(even) {
	background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
	table {
			display: block;
			width: 100%;
	}
	.table-wrapper:before{
			content: "Scroll horizontally >";
			display: block;
			text-align: right;
			font-size: 11px;
			color: white;
			padding: 0 0 10px;
	}
	table thead, table tbody, table thead th {
			display: block;
	}
	table thead th:last-child{
			border-bottom: none;
	}
	table thead {
			float: left;
	}
	table tbody {
			width: auto;
			position: relative;
			overflow-x: auto;
	}
	table td, table th {
			padding: 20px .625em .625em .625em;
			height: 60px;
			vertical-align: middle;
			box-sizing: border-box;
			overflow-x: hidden;
			overflow-y: auto;
			width: 120px;
			font-size: 13px;
			text-overflow: ellipsis;
	}
	table thead th {
			text-align: left;
			border-bottom: 1px solid #f7f7f9;
	}
	table tbody tr {
			display: table-cell;
	}
	table tbody tr:nth-child(odd) {
			background: none;
	}
	table tr:nth-child(even) {
			background: transparent;
	}
	table tr td:nth-child(odd) {
			background: #F8F8F8;
			border-right: 1px solid #E6E4E4;
	}
	table tr td:nth-child(even) {
			border-right: 1px solid #E6E4E4;
	}
	table tbody td {
			display: block;
			text-align: center;
	}
}