@import url('../fonts/lcd-bold/index.css');
@import url('../fonts/radioland/index.css');

.clock {
  font-family: lcdbold, monospace;
  user-select: none;

  display: flex;
  position: fixed;
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);

  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

@media screen and (orientation:portrait) {
  .clock {
    font-size: 40vw;
  }
}

@media screen and (orientation:landscape) {
  .clock {
    font-size: 44vh;
  }
}

.armed {
  color: yellow;
}

.prerunning {
  color: orange;
}

.running {
  color: lime;
}

.endgame {
  color: yellow;
}

.ended {
  color: red;
}