.Display-Timer {
  height: 100vh;
  width: 100vw;
  // border-color: red;
  // border-style: solid;
}

.Display-Timer-Top {
  top: 0vh;
  width:100vw;
  // height: 10vh;
  position: fixed;
  border-color: white;
  border-style: solid;
  padding-left: 3vw;
  font-size: 2vh;

  border-left: 0px;
  border-right: 0px;
}

.Display-Timer-Middle {
  top:  10vh;
  width: 100vw;
  // height: 100vh;
  position: fixed;
  // border-color: red;
  // border-style: solid;
}

.Display-Timer-Bottom {
  top: 70vh;
  width: 100vw;
  height: 25vh;
  position: fixed;
  // border-color: green;
  // border-style: solid;
  font-size: 2vh;
}

.column-left-team {
  position: fixed;
  border-left: 0px;
  left: 0%;
  width: 40%;
  height: 100%;
  border-color: white;
  border-style: solid;

  text-align: center;
}

.column-match-number {
  position: fixed;
  left: 40%;
  width: 20%;
  height: 100%;
  border-color: white;
  border-style: solid;

  padding-top: 1%;
  text-align: center;
}

.column-match-number .content {
  position: relative;
  bottom: 5%;
  padding-bottom: 10%;
  font-size: 4vh;
  text-align: center;
}

.column-right-team {
  position: fixed;
  border-right: 0px;
  left: 60%;
  right: 0%;
  width: 40%;
  height: 100%;
  border-color: white;
  border-style: solid;

  text-align: center;
}