# Project information
site_name: TMS Documentation
site_url: https://cjbuchel.github.io/TMS/
site_author: Connor (CJ) Buchel

# Repository information
repo_name: CJBuchel/TMS
repo_url: https://github.com/CJBuchel/TMS/

# Site configuration
theme:
  name: material
  font:
    text: "Ubuntu"
    code: "Ubuntu Mono"
  logo: assets/TMS_Logo.svg
  favicon: assets/TMS_Logo.svg
