* {
	margin: 0;
	padding: 0;
}

html {
	/* height: 100vh; */
	/* max-height: 100vh; */
	background: linear-gradient(#3800e7, #8a15ff);
	/* margin: auto; */
}

.Select, input {
	/* width: 300px; */
	width: 100%;
	height: 60px;
	/* margin: 10px; */
	font-size: 25px;
}
