// table {
//   font-family: arial, sans-serif;
//   border-collapse: collapse;
//   width: 100%;
// }

// td, th {
//   border: 1px solid #dddddd;
//   text-align: left;
//   // padding: 8px;
// }

// tr:nth-child(even) {
//   background-color: #dddddd;
// }

.infinite-table td, .infinite-table th {
  flex-basis: 10% !important;

  &.large {
    flex-basis: 80% !important;
  }

  &.ui.primary.basic {
    box-shadow: 0px 0px 0px 0px white inset !important;
    font-weight: bold !important;
    text-align: center !important;
    color: #1E5AA8 !important;
  }

  .minus.icon {
    margin-right: 0 !important;
  }
}
