html {
	background-color: #000000;
	/* overflow: hidden; */
}

.center {
	height: 200px;
	position: relative;
}

.center p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}