html {
	background-color: #000000;
	/* overflow: hidden; */
	margin: 0;
	padding: 0;
}

.center {
	height: 200px;
	position: relative;
}

.center p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scorer-options {
	text-align: left;
	font-size: 3vh;
}

dl, dt, dd, ul {
	color: white;
}

dt, ul {
	font-size: 2vw;
}

.red-text {
	color: red;
}

.green-text {
	color: green;
}

ul {
	font-size: 2vh;
}

.inputs {
	height: 100vh;
}