* {
  box-sizing: border-box;
}

.match-control {
  height: 95%;
  box-sizing: border-box;
  overflow: hidden;
}

.match-control-row {
  height: 100%;
  overflow: hidden;
}

.match-control-row:after {
  content: "";
  display: table;
  clear: both;
}

.match-control-controls {
  float: left;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  border-color: white;
  border-style: solid;
  overflow: hidden;
}

.match-control-matches {
  float: left;
  height: 100%;
  width: 50%;

  // padding-top: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  border-color: white;
  border-style: solid;
  overflow-y: scroll;
}