.match-modify {
  margin: auto;
  width: 90%;
  border: 3px solid white;
  padding: 10px;
  text-align: center;

  box-sizing: border-box;
}

.match-modify .selector {
  color: black;
  box-sizing: border-box;
}

.match-modify .column-editor {
  color: black;
  margin-top: 8%;
  float: left;
  width: 50%;
}

.match-modify .toggles {
  color: white;
  margin-top: 5px;
  float: left;
  width: 50%;
  background-color: #03061d;
}

.match-modify .row-editor:after {
  content: '';
  display: table;
  clear: both;
}

.submit {
  border: none;
}