
.mt-table {
  border-radius: 5px;
  // font-size: 3vw;
  // font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  color: black;
}

.mt-table td, .mt-table th {
  text-align: center;
  padding: 0.5vw;
  // overflow: hidden;
}

.mt-table tbody tr:hover {
  background-color: #365778;
}

.mt-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 2vw;
}

.mt-table thead tr th {
  color: #ffffff;
  background: #008cff;
  position: sticky;

  font-size: 1vw;

  top: 0;
  // z-index: 1;
}

.mt-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #243240;
  // overflow: hidden;
}

.mt-table tr:nth-child(even) {
  background: #a3a3a3;
}