
.mt-table {
  border-radius: 5px;
  // font-size: 3vw;
  // font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  color: black;
}

.mt-table table {
  // box-sizing: border-box;
}

.mt-table td, .mt-table th {
  text-align: center;
  padding: 0.5vw;
  // min-width: 90px;
  // overflow: hidden;
}

.mt-table tr {
  // display: block;
  -webkit-appearance: none;
}

.mt-table td {
  position: relative;
  border-right: 1px solid #f8f8f8;
  font-size: 2vw;
}

.mt-table thead tr th {
  color: #ffffff;
  background: #008cff;
  position: sticky;

  font-size: 1vw;

  top: 0;
}

.mt-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #243240;
  // overflow: hidden;
}

.mt-table tr:nth-child(even) {
  background: #a3a3a3;
}

.mt-table tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 3px solid #111;
  width: 100%;
}

.mt-table tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}

.mt-table tr.selected td:first-child {
  box-shadow: 
    inset 0px 4px 3px -2px blue,
    inset 0px -4px 3px -2px blue,
    inset 4px 0px 3px -2px blue;
  // -webkit-box-shadow: inset 0px 0px 10px blue;
  // -moz-box-shadow: inset 0px 0px 10px blue;
}

.mt-table tr.selected td {
  box-shadow: 
    inset 0px 4px 3px -2px blue,
    inset 0px -4px 3px -2px blue;
}

.mt-table tr.selected td:last-child {
  box-shadow: 
    inset 0px 4px 3px -2px blue,
    inset 0px -4px 3px -2px blue,
    inset -4px 0px 3px -2px blue;
}