.match-builder {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  border: 3px solid white;
  padding: 10px;
  text-align: center;

  box-sizing: border-box;
}

.match-builder .selector {
  color: black;
  box-sizing: border-box;
}

.match-builder .column-editor {
  color: black;
  margin-top: 1%;
  float: left;
  width: 25%;
}

.match-builder .submit-buttons {
  color: black;
  margin-top: 2%;
  float: left;
  width: 50%;
}

.match-builder .toggles {
  color: white;
  margin-top: 5px;
  float: left;
  width: 50%;
  background-color: #03061d;
}

.match-builder .row-editor {
  margin-top: 8%;
}

.match-builder .row-editor:after {
  content: '';
  display: table;
  clear: both;
}

.submit {
  border: none;
}