@import url('./lcd-bold/index.css');
@import url('./radioland/index.css');

html,body {
	overflow: hidden;
	font-family: verdana, sans-serif;
}

body {
	background-color: #000000;
	color: white;
}

#root {
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#main-container {
	width: 100vw;
	height: 100vh;
}

.fullscreen .show-on-hover {
	transition: linear 0.2s opacity;
	opacity: 0;
}

.fullscreen .show-on-hover:hover {
	opacity: 1;
}

.button.clear {
	outline: none !important;
}
