*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: auto;
	padding: 0;
}

html {
	/* overflow: hidden;  */
	width: auto;
}

body{
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
	background: rgba( 71, 147, 227, 1);
}

.display {
	text-align: center;
}

h2{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	padding: 30px 0;
}

/* Table Styles */

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: auto;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 1.5vh;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
