.Login {
	display: flex;
	text-align: center;
	margin: 0;
	/* margin-top: 50%; */
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	color: black;
}

.Login label {
	font-size: 50px;
	color: white;
}

.Select, input {
	/* width: 300px; */
	width: 100%;
	height: 60px;
	/* margin: 10px; */
	font-size: 25px;
	color: black;
}

form {
	/* margin-top: ; */
	text-align: center;
	vertical-align: middle;
	color: black;
	width: 50%;
}