.ConnectionModal {
  position: fixed;
  text-align: center;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  font-size: 3vw;
  color: red;
  text-shadow: 2px 2px #000000;
  z-index: 1002;
}

.ConnectionModalBackdrop {
  position: fixed;
  opacity: 0.4;
  width: 120%;
  height: 120%;
  z-index: 1001;
  left: -46px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  
  background: -webkit-repeating-linear-gradient(
    145deg,
    #000000 1px,
    #3b3b3b 2px,
    #3b3b3b 11px,
    #000000 12px,
    #000000 20px
  );
  background: repeating-linear-gradient(
    -55deg,
    #000000 1px,
    #3b3b3b 2px,
    #3b3b3b 11px,
    #000000 12px,
    #000000 20px
  );
    
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  
  animation-name: MOVE-BG;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.ConnectionModalApp {
  z-index: 1000;
}

.ConnectionWrapper {
  overflow: hidden;
}


@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
  }
  to { 
    -webkit-transform: translateX(46px);
  }
}

@keyframes MOVE-BG {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(46px);
  }
}