
// Login Form page
.Login {
  display: flex;
  text-align: center;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login label {
  font-size: 2vh;
  color: white;
}

.Select, input {
  width: 100%;
  height: 5vh;
  font-size: 3vh;
  color: black;
}

.Login form {
  text-align: center;
  vertical-align: middle;
  color: black;
  width: 50%;
}