@import "@cjms_interfaces/shared/lib/assets/stylesheets/application";

.row:after {
  width: 100vw;
  content: "";
  display: table;
  clear: both;
}

.setup-main {
  height: 100vh;
  @include column-struct(50vw);
  background-color: rgb(75, 75, 75);
  border-radius: 15px;
}

.data-preview {
  height: 100vh;
  @include column-struct(50vw);
  background-color: rgb(59, 58, 58);
  border-radius: 15px;
}