@use "@cjms_interfaces/shared/lib/assets/stylesheets/application";


.setup-main {
  width: 33.33%;
  background-color: #ccc;
  @include application.border-struct;
  margin-top: 25px;
  margin-left: 33.33%;
  border-radius: 15px;
}

.setup-main .container {
  padding: 20px;
}

.container input {
  font-size: medium;
}


form button {
  margin-top: 5px;
  padding: 10px;
  margin-left: 4%;
  width: 45%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}