.team-edit {
  width: 100%;
  height: 100%;
}

.team-values {
  color: white;
  margin-left: 5%;
  margin-top: 2%;
  // border-style: solid;
  // border-color: red;
  border-radius: 20px;
  width: 90%;
  height: 55%;
  // background-color: #1b1b1b;
  background-color: #18191f;
  // background-color: #03061d;
  // padding-top: 2%;
  overflow: auto;
}

.team-values-tf {
  padding-left: 5%;
  padding-top: 2%;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  // background-color: white;
}

.team-values-text {
  padding-left: 5%;
  // padding-top: 2%;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  // background-color: white;
}

// .team-values-text .round-buttons {
//   width: 50%;
//   float: left;
//   // flex-direction:column;
//   border: white;
//   border-style: solid;
//   // border-radius: 7px;
//   // padding: 2px;
//   // padding-left: 4px;
//   // padding-right: 4px;
// }