name: Build

on:
  push:
    branches:
      - main
      - master
      - rebuild
  pull_request:
    branches:
      - main
      - master
      - rebuild

jobs:
  pre-build:
    name: Pre-Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
